*, :after, :before { box-sizing: border-box; }

.kontajner{
display: flex;
background-color: silver;
padding:2rem;
border-radius: 10px;
justify-content: space-between;
flex:auto;
align-items:center;
}

.fotky{
  border-radius: 50%;
  width:150px;
  height: 150px;
}


h1, h2, p{
    font-family: 'Rubik', sans-serif;
    padding: 1rem;
}

.kontakthana,
.kontaktmarketa,
.kontaktjana,
.kontaktmonika{
  background-color: white;
  border-radius: 10px;
  align-items: justify;
  width:22%;
  place-self: end center
  
}

.ikony{
  width:35px;
  height: 35px;
  
}