*, :after, :before { box-sizing: border-box; }

body{
  margin-right: 2rem;
  margin-left: 2rem;
  font-family:'Rubik', sans-serif;
  font-size:14px;
}

.dievcata{
display: flex;
background-color:silver;
border-radius:0.5rem;
justify-content:space-between;
padding:1rem;
}

.kontakt{
  background-color: white;
  padding:2rem;
  margin:2rem;
  text-align: center;
  border-radius: 0.5rem;
  flex-basis:22%;
}

.fotky {
  border-radius: 50%;
}

.loga img{
  margin-top: auto;
}



/* skusila som opravit co som vedela, dufam ze to bude v poriadku */