*{
  box-sizing: inherit;
}
html{
  box-sizing: border border-box;
}
.body{
  margin: 0;
  padding: 0;
}

.kontajner{
display: flex;
background-color: silver;
padding:2rem;
border-radius: 10px;
justify-content: space-between;
flex:auto;
flex-direction: row;
}

.fotky{
  border-radius: 50%;
  width:150px;
  height: 150px;
}


h1, h2, p{
    font-family: 'Rubik', sans-serif;
    padding: 1rem;
}

.kontakt{
  background-color: white;
  border-radius: 10px;
  width:22%;
  justify-content: center;
  text-align: center;
  padding:1rem;
  margin:1rem;
  
}

.ikony{
  width:35px;
  height:35px;
  }

